apiVersion: v1
kind: Service
metadata:
  name: django
  namespace: atw-production
  labels:
    app: django
    tier: backend
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app: django
    tier: backend
